    header {
        position: fixed;
        background-color: #ffffff;
        width: 100%;
        height: 70px;
    }
    
    body {
        background-color: black;
        margin: 0px;
    }
    
    .logo {
        width: 70px;
        height: 11px;
        margin-top: 27px;
        margin-left: 240px;
    }
    
    .menu {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        margin-top: -27px;
        margin-left: 361px;
    }
    
    .tag-menu {
        text-decoration: none;
        color: #797979;
    }
    
    .menu>p {
        float: left;
        margin-right: 25px;
    }
    
    #btn-login {
        width: 110px;
        height: 38px;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: 400;
        background-color: #f9ba48;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        border: 0px;
        border-radius: 5px;
    }
    
    #btn-contact {
        width: 110px;
        height: 38px;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: 400;
        background-color: #094b58;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        border: 0px;
        border-radius: 5px;
        margin-left: 12px;
    }
    
    .btns-nav {
        margin-left: 818px;
        margin-top: -29px;
    }